
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Администрирование</title>
        <link href="../static/styles/admin_page.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://kit.fontawesome.com/6a4be30845.js"></script>

        <!-- Шрифт Myriad Pro -->
    	<link rel="stylesheet" href="https://use.typekit.net/nqp7dcb.css">

    </head>

    <body>
		<!-- new_group_form -->
		<form id="new_group_form">
			<h1>Создать новую группу</h1>
			<div id="new_group_inputs">
				<p id="group_name_title">Название группы</p>
				<input type="text" id="group_name_form" name="groupname">
				<p id="group_image_title">Аватар группы</p>
				<input type="file" id="group_image_form" accept="image/*" name="groupimage">
				<button type="submit" id="new_group_saver">Создать</button> <!-- problems with position -->
			</div>
		</form>
		<!-- new_group_from end -->

        <!-- background_image -->
        <div class="bg_image"></div>
        <!-- background_image end -->

        <!-- top_bar -->
        <div id="top_bar">
        	<div class="left_pad">SSSR</div>
            <a href="/" class="top_bar_button">Главная</a>
           	<a href="/mygroups" class="top_bar_button">Группы</a>
            <a href="/adminpage" class="top_bar_button">Админ панель</a>
			<a href="/logout" class="top_bar_button">Выйти</a>
			<div class="right_pad"></div>
        </div>
        <!-- end -->




        <!-- main_view -->

       	<div class="block__content">
  			<center><div class="text__administration">Администрирование</div></center>
       		<div class="my__groups">

       					<div class="one__group">
       						<div class="group_padding">
       							<div class="content__group">
	       							<div class="top__data">
	       								<div class="left__panel">
			       							<div class="group__image">
											
			       							</div>
		       							</div>

		       							<div class="right__panel">
			       							<div class="group__name">
			       								выфвфывыфвыфвыфвыфвфы вфыв ыф
			       							</div>

			       							<div class="count__members">
			       								Участников: 9
			       							</div>

			       							<div class="count__recommendations">
			       								Рекомендаций: 10
			       							</div>
			       						</div>
	       							</div>



	       							<div class="botton__data">
		       								<a href="#" class="my__button">Удалить</a>
		       								<a href="#" class="my__button">Добавить пользователя</a>
		       								<a href="#" class="my__button">Просмотр</a>

	       							</div>
								</div>
       						</div>
					</div>

					<div class="one__group">
       						<div class="group_padding">
       							<div class="content__group">
	       							<div class="top__data">
	       								<div class="left__panel">
			       							<div class="group__image">
											
			       							</div>
		       							</div>

		       							<div class="right__panel">
			       							<div class="group__name">
			       								Яндекс.Карты
			       							</div>

			       							<div class="count__members">
			       								Участников: 9
			       							</div>

			       							<div class="count__recommendations">
			       								Рекомендаций: 10
			       							</div>
			       						</div>
	       							</div>



	       							<div class="botton__data">
		       								<a href="#" class="my__button">Удалить</a>
		       								<a href="#" class="my__button">Добавить пользователя</a>
		       								<a href="#" class="my__button">Просмотр</a>

	       							</div>
								</div>
       						</div>
					</div>


					<div class="one__group">
       						<div class="group_padding">
       							<div class="content__group">
	       							<div class="top__data">
	       								<div class="left__panel">
			       							<div class="group__image">
											
			       							</div>
		       							</div>

		       							<div class="right__panel">
			       							<div class="group__name">
			       								Яндекс.Карты
			       							</div>

			       							<div class="count__members">
			       								Участников: 9
			       							</div>

			       							<div class="count__recommendations">
			       								Рекомендаций: 10
			       							</div>
			       						</div>
	       							</div>



	       							<div class="botton__data">
		       								<a href="#" class="my__button">Удалить</a>
		       								<a href="#" class="my__button">Добавить пользователя</a>
		       								<a href="#" class="my__button">Просмотр</a>

	       							</div>
								</div>
       						</div>
					</div>


					<div class="one__group">
       						<div class="group_padding">
       							<div class="content__group">
	       							<div class="top__data">
	       								<div class="left__panel">
			       							<div class="group__image">
											
			       							</div>
		       							</div>

		       							<div class="right__panel">
			       							<div class="group__name">
			       								Яндекс.Карты
			       							</div>

			       							<div class="count__members">
			       								Участников: 9
			       							</div>

			       							<div class="count__recommendations">
			       								Рекомендаций: 10
			       							</div>
			       						</div>
	       							</div>



	       							<div class="botton__data">
		       								<a href="#" class="my__button">Удалить</a>
		       								<a href="#" class="my__button">Добавить пользователя</a>
		       								<a href="#" class="my__button">Просмотр</a>

	       							</div>
								</div>
       						</div>
					</div>

					<div class="one__group">
       						<div class="group_padding">
       							<div class="content__group">
	       							<div class="top__data">
	       								<div class="left__panel">
			       							<div class="plus__image">
												<div class="plus">+</div>
			       							</div>
		       							</div>

		       							<div class="right__panel">
			       							<div class="group__name">
			       							
			       							</div>

			       							<div class="count__members">
			       							
			       							</div>

			       							<div class="count__recommendations">
			       							
			       							</div>
			       						</div>
	       							</div>



	       							<div class="botton__data">
		       								<a href="#" class="my__button"></a>
		       								<a href="#" class="my__button"></a>
		       								<a href="#" class="my__button"></a>

	       							</div>
								</div>
       						</div>
					</div>


       		</div>
       			<br/>
       		<br/>
       	</div>



        <!-- end -->
        <script src="../static/scripts/admin_page.js" ></script>
    </body>
</html>