<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>*group_name*</title>
        <!-- CUSTOM SLIDERS -->
        <link rel="stylesheet" href="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/css/jqueryui.min.css">
        <link rel="stylesheet" href="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/css/jquery-ui-slider-pips.min.css">
        <!-- <link rel="stylesheet" href="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/css/app.min.css"> -->
        <!-- CUSTOM SLIDERS END -->
        <link href="../static/styles/group_page.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <!-- CUSTOM SLIDERS -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script src="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/js/jquery-plus-ui.min.js"></script>
        <script src="https://simeydotme.github.io/jQuery-ui-Slider-Pips/dist/js/jquery-ui-slider-pips.js"></script>
        <!-- CUSTOM SLIDERS END -->
        <script src="https://kit.fontawesome.com/6a4be30845.js"></script>
    </head>
    
    <body>
        <!-- background_image -->
        <div class="bg_image"></div>
        <!-- background_image end -->
        
        <!-- top_bar -->
        <div id="top_bar">
            <button id="main_page_button" class="top_bar_button">Главная</button>
            <button class="top_bar_button">Приглашения</button>
            <button class="top_bar_button">Группы</button>
            <button class="top_bar_button">Админ page</button>
        </div>
        <!-- end -->

        <!-- main_view -->
        <div id="main_view">
            <!-- sidebar -->
            <div id="side_bar">
                <div id="group_info">
                    <img class="group_logo_img" src="" alt="Group Logo">
                    <h1 class="group_name"></h1>
                    <span class="group_members_counter"></span>
                </div>
                <div class="group_members">
                    <div id=top_sidebar_line class="line"></div>
                </div>
            </div>
            <!-- sidebar end -->
            <!-- par, joi, res, kin, tru, irr, com, iso
                 partnership, joint, responsibility, kindness, trust, irritability, compliance, isolation-->
            <!-- eval_window -->
            <div id="eval_window">
                <div class="slider_container">
                    <div class="slider par"></div> <!-- CUSTOM SLIDER -->
                    <div class="slider_title">partnership</div>
                    <p class="slider_val">1</p>
                </div>
                <div class="slider_container">
                    <div class="slider joi"></div> <!-- CUSTOM SLIDER -->
                    <div class="slider_title">joint</div>
                    <p class="slider_val">1</p>
                </div>
                <div class="slider_container">
                    <div class="slider res"></div> <!-- CUSTOM SLIDER -->
                    <div class="slider_title">responsibility</div>
                    <p class="slider_val">1</p>
                </div>
                <div class="slider_container">
                    <div class="slider kin"></div> <!-- CUSTOM SLIDER -->
                    <div class="slider_title">kindness</div>
                    <p class="slider_val">1</p>
                </div>
                <div class="slider_container">
                    <div class="slider tru"></div> <!-- CUSTOM SLIDER -->
                    <div class="slider_title">trust</div>
                    <p class="slider_val">1</p>
                </div>
                <div class="slider_container">
                    <div class="slider irr"></div> <!-- CUSTOM SLIDER -->
                    <div class="slider_title">irritability</div>
                    <p class="slider_val">1</p>
                </div>
                <div class="slider_container">
                    <div class="slider com"></div> <!-- CUSTOM SLIDER -->
                    <div class="slider_title">compliance</div>
                    <p class="slider_val">1</p>
                </div>
                <div class="slider_container">
                    <div class="slider iso"></div> <!-- CUSTOM SLIDER -->
                    <div class="slider_title">isolation</div>
                    <p class="slider_val">1</p>
                </div>
                <a href="javascript:void(0)" id="eval_window_close_button"><i class="fas fa-times"></i></a>
                <button id="send_eval_button">Сохранить</button>
            </div>
            <!-- eval_window -->
        
            <!-- viewport -->
            <div id="viewport">
                <h1 id="viewport_title">Рекомендации</h1>
                <div class="line viewport_title_line"></div>
                <div id="recommendation_container"></div>
            </div>
            <!-- viewport end -->
        </div>
        <!-- main_view end -->
        <script src="../static/scripts/group_page.js" ></script>
    </body>
</html>