<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Группы</title>
        <link href="../static/styles/my_groups.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    
    <body>
        <!-- background_image -->
        <div class="bg_image"></div>
        <!-- background_image end -->
        
  		<!-- top_bar -->
        <div id="top_bar">
        	<div class="left_pad">SSSR</div>
            <a href="/" class="top_bar_button">Главная</a>
           	<a href="/mygroups" class="top_bar_button">Группы</a>
            <a href="/adminpage" class="top_bar_button">Админ панель</a>
			<a href="/logout" class="top_bar_button">Выйти</a>
			<div class="right_pad"></div>
        </div>
        <!-- end -->

        <!-- main_view -->
        <h1>Ваши группы</h1>
        <div id="main_view"></div>
        <!-- end -->
        <script src="../static/scripts/my_groups.js"></script>
    </body>
</html>