<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Группы</title>
        <link href="../static/styles/my_groups.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    </head>
    
    <body>
        <!-- background_image -->
        <div class="bg_image"></div>
        <!-- background_image end -->
        
        <!-- top_bar -->
        <div id="top_bar">
            <button id="main_page_button" class="top_bar_button">Главная</button>
            <button class="top_bar_button">Приглашения</button>
            <button class="top_bar_button">Группы</button>
            <button class="top_bar_button">Админ page</button>
        </div>
        <!-- end -->

        <!-- main_view -->
        <h1>Ваши Группы</h1>
        <div id="main_view">
            <div id="left_panel" class="panel">
                <div class="group">
                    <img class="group_logo_img" src="../static/images/doka_logo.png" alt="Group Logo">
                    <div class="group_info">
                        <h2 class="group_name">Dota</h2>
                        <span class="group_members">Участников: 228</span><br>
                        <span class="group_recommendations">Рекомендаций: 0</span>
                    </div>
                </div>
                <div class="group">
                    <img class="group_logo_img" src="../static/images/doka_logo.png" alt="Group Logo">
                    <div class="group_info">
                        <h2 class="group_name">Dota</h2>
                        <span class="group_members">Участников: 228</span><br>
                        <span class="group_recommendations">Рекомендаций: 0</span>
                    </div>
                </div>
                <div class="group">
                    <img class="group_logo_img" src="../static/images/doka_logo.png" alt="Group Logo">
                    <div class="group_info">
                        <h2 class="group_name">Dota</h2>
                        <span class="group_members">Участников: 228</span><br>
                        <span class="group_recommendations">Рекомендаций: 0</span>
                    </div>
                </div>
                <div class="group">
                    <img class="group_logo_img" src="../static/images/doka_logo.png" alt="Group Logo">
                    <div class="group_info">
                        <h2 class="group_name">Dota</h2>
                        <span class="group_members">Участников: 228</span><br>
                        <span class="group_recommendations">Рекомендаций: 0</span>
                    </div>
                </div>
            </div>
            
            <div id="right_panel" class="panel">
                <div class="group">
                    <img class="group_logo_img" src="../static/images/doka_logo.png" alt="Group Logo">
                    <div class="group_info">
                        <h2 class="group_name">Dota</h2>
                        <span class="group_members">Участников: 228</span><br>
                        <span class="group_recommendations">Рекомендаций: 0</span>
                    </div>
                </div>
                <div class="group">
                    <img class="group_logo_img" src="../static/images/doka_logo.png" alt="Group Logo">
                    <div class="group_info">
                        <h2 class="group_name">Dota</h2>
                        <span class="group_members">Участников: 228</span><br>
                        <span class="group_recommendations">Рекомендаций: 0</span>
                    </div>
                </div>
                <div class="group">
                    <img class="group_logo_img" src="../static/images/doka_logo.png" alt="Group Logo">
                    <div class="group_info">
                        <h2 class="group_name">Dota</h2>
                        <span class="group_members">Участников: 228</span><br>
                        <span class="group_recommendations">Рекомендаций: 0</span>
                    </div>
                </div>
                <div class="group">
                    <img class="group_logo_img" src="../static/images/doka_logo.png" alt="Group Logo">
                    <div class="group_info">
                        <h2 class="group_name">Dota</h2>
                        <span class="group_members">Участников: 228</span><br>
                        <span class="group_recommendations">Рекомендаций: 0</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- end -->
        <script src="../static/scripts/my_groups.js"></script>
    </body>
</html>