* {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
}

body
{
    margin: 0;
    background-color: rgb(0, 0, 0, 0.8);
}

.bg_image
{
    /* IT WORKS DONT TOUCH */
    background:
    linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
    url("../images/more_fashion_avatar.jpg");
    /* IT WORKS DONT TOUCH */
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
    filter: blur(25px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* top_bar */
#top_bar
{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
}

#main_page_button
{
    margin-left: 10vw;
}

.top_bar_button
{
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    border: 0px;
    outline: none;
    flex-basis: 20%;
    padding: 2vh 0%;
}

.top_bar_button:hover
{
    background-color: rgb(105, 105, 105, 0.5);
}

.top_bar_button:active
{
    background-color: rgb(173, 173, 173, 0.5);
    transition: 0s;
}
/* top_bar end */

/* #main_view{} */

.line
{
    background-color: rgba(0, 0, 0, 0.25);
    height: 2px;
    width: 100%;
    border-radius: 200px;
    margin: 2vh 0;
}

/* sidebar */
#side_bar
{
    float: left;
    width: 16vw;
    height: 92.4vh;
    background-color: rgba(0, 0, 0, 0.25);
}

#group_info
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 2vh;
}

.group_logo_img
{
    height: 95px;
    width: 95px;
}

.group_name
{
    font-size: 22px;
    margin: 1vh 0 0 0;
}

.group_members_counter
{
    font-size: 16px;
    text-align: center;
    line-height: 80%;
}

.group_members
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 1vw;
}

.member
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-bottom: 2vh;
}

.last_member
{
    margin-bottom: 0;
}

.member_avatar_img
{
    height: 60px;
    width: 60px;
    margin-right: 1vw;
}

.member_info
{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}

.member_group_status
{
    margin: 0;
    line-height: 0;
}

.far, .fas
{
    font-size: 14px;
}

.member_fullname
{
    font-size: 13px;
    line-height: 20px;
}
/* sidebar end */

/* viewport */
#viewport
{
    float: right;
}

/* viewport end */