* {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
}



a {
  text-decoration: none
}

div, p{
    margin: 0;
    padding: 0;
}

body
{
    margin: 0;
    background-color: rgb(0, 0, 0, 0.8);
}





.bg_image
{
    /* IT WORKS DONT TOUCH */
    background:
    linear-gradient(
          rgba(0, 0, 0, 0.5), 
          rgba(0, 0, 0, 0.5)
        ),
    url("../images/more_fashion_avatar.jpg");
    /* IT WORKS DONT TOUCH */
    height: 100vh;
    width: 100vw;
    z-index: -1;
    position: fixed;
    filter: blur(25px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* top_bar */
#top_bar
{
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-between;
}



.top_bar_button
{
    color: white;
    margin: 0 20px;
    padding: 5px;
    flex: 1;
    vertical-align:middle;
    background-color: rgba(0, 0, 0, 0);
    cursor: pointer;
    text-align:center;
   
    font-family: myriad-pro, sans-serif;
    white-space: nowrap;

    font-style: normal;
    font-weight: 100;
    font-size: 20px;
}

.left_pad{
    flex: 1;
}


.right_pad{
    flex: 1;
}


.top_bar_button:hover
{
    background-color: rgb(105, 105, 105, 0.5);
}

.top_bar_button:active
{
    background-color: rgb(173, 173, 173, 0.5);
    transition: 0s;
}
/* top_bar end */




/* main_view */
#main_view
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left_panel
{
    flex-basis: 35%;
    margin: 0 0 0 0;
}


#avatar
{
    background-image: url("../images/more_fashion_avatar.jpg");
    
    /* background-position: center;
    overflow: hidden; */
    /* either ^ or v */
    background-size: cover;
    
    margin-right: 4vw;
    height: 50vh;
    width: 50vh;
}

/* #avatar_img
{

} */

#right_panel
{
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
    justify-content: space-between;
}

#user_info{}

.fa-mars
{
    font-size: 20px;
}

#about_me
{
    margin-top: 2vh;
    width: 400px;
    text-align: justify;
}

/* fa-telegram-plane, fa-vk, fa-instagram, fa-reddit-alien, fa-bolt
{
    font-size: 30px;
    cursor: pointer;
}

fa-telegram-plane:hover, fa-vk:hover, fa-instagram:hover, fa-reddit-alien:hover, fa-bolt:hover
{
    color: white;
}

fa-telegram-plane:active, fa-vk:active, fa-instagram:active, fa-reddit-alien:active, fa-bolt:active
{
    color: rgb(212, 212, 212);
    transition: 0s;
} */

#references
{   
    width: 200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.references__icon
{
    font-size: 25px;
    cursor: pointer;
}

.references__icon:hover
{
    color: rgb(110, 110, 110);
}

.references__icon:active
{
    color: rgb(184, 184, 184);
    transition: 0s;
}

.text__login{
    font-family: myriad-pro-condensed, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
}



.text__MiniInfo{
    margin-top: 5px;
    font-family: myriad-pro, sans-serif;
    font-style: normal;
    font-weight: 100;
    font-size: 15px;

}


.text__about_me{
    font-family: myriad-pro-condensed, sans-serif;
    font-style: italic;
    font-weight: 500;  
    font-size: 22px;  
}


.text__descriprion{
    width: 350px;
    font-family: myriad-pro, sans-serif;
    white-space:pre-wrap;
    font-style: normal;
    font-weight: 10;
    font-size: 15px;
}

.block__content{
   position: absolute;
   left: 50%;
   transform:translateX(-50%);
   margin-top: 15vh;
}


.sex__icon{
    font-size: 25px;


}

/* main_view end */